
@using NancyTest
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="screen">Test123</div>
<div id="button"></div>

@section Scripts {
    
    <script src="@Url.Script("~/Scripts/testNancy.js")" type ='text/javascript'></script>
}